[flake8]
# use B950 instead of E501 to allow slightly longer line lengths (black sets the max at 88 chars)

# W503 is incompatible with PEP8 (according to https://github.com/ambv/black/issues/43)

# E231 relates to whitespace---we use Black to take care of our whitespace

# E203 is not PEP8 compliant -- should be ignored https://github.com/psf/black/issues/315

max-line-length = 110
select = C,E,F,W,B,B950
ignore = E501,W503,E231,E203
import-order-style = google
application-import-names = pyqt_test_utils
