# dependencies
node_modules

src/firmware/*.bit
src/drivers/*.exe

# CI caches
.npm_cache/
.precommit_cache/
.pipenv_cache/

# logs
npm-debug.log

# Nuxt build
.nuxt

# Electron build
build

# Pyinstaller build
build-python
dist-python

# Nuxt generate
dist

# Mac OS
.DS_Store

# test coverage
tests/__coverage__
test/__coverage__
coverage-report-pytest
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
coverage.xml

# test profiling
prof/

# IDE
.idea/
.~c9*
.vscode/

# Python
*.py[cod]
__pycache__/

# Cython
*.cpp
*.c
*.so
*.html

# C/C++ libraries
*.zip
src/zlib

# Venv
.venv/
venv/
*.egg-info


# sphinx html
docs/build

secrets.json

# auto generated folders
logs/
recordings/
analysis/


# Spectron screenshots
**/e2e/screenshots/**/*-actual.png
**/e2e/screenshots/*-actual.png
**/e2e/screenshots/**/*-actual-diff.png
**/e2e/screenshots/*-actual-diff.png

# Codebuild cache
.windows_codebuild_cache/
# config settings
config/
