# dependencies
node_modules
.npm_cache/

# logs
npm-debug.log

# Nuxt build
.nuxt

# Electron build
build

# Nuxt generate
dist

# Mac OS
.DS_Store

# test coverage
tests/__coverage__
test/__coverage__
coverage-report-pytest
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*

# test profiling
prof/

# IDE
.idea/
.~c9*

# Python
*.py[cod]
__pycache__/
.pipenv_cache/

# Cython
*.cpp
*.c
*.so
*.html

# Venv
.venv/
venv/
*.egg-info


# sphinx html
docs/build

secrets.json

logs/


# Spectron screenshots
**/e2e/screenshots/**/*-actual.png
**/e2e/screenshots/*-actual.png
**/e2e/screenshots/**/*-actual-diff.png
**/e2e/screenshots/*-actual-diff.png

# Codebuild cache
.windows_codebuild_cache/
# config settings
config/

# recordings
recordings/