[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "==1.17.32"
cython = "==0.29.22"
freezegun = "==1.0.0"
pre-commit = "==2.11.1"
pylint = "==2.7.2"
pytest = "==6.2.2"
pytest-cov = "==2.11.1"
pytest-mock = "==3.5.1"
pytest-profiling = "==1.7.0"
pytest-pylint = "==0.18.0"
pytest-randomly = "==3.5.0"
pytest-timeout = "==1.4.2"
sphinx = "==3.5.2"
pyinstaller = "==4.2"
pywin32-ctypes = "==0.2.0" # Eli (3/1/21): this must be explicitly specified when using a Linux dev environment so that it will be included in a Windows build environment
pefile = "==2019.4.18" # Eli (3/1/21): this must be explicitly specified when using a Linux dev environment so that it will be included in a Windows build environment
atomicwrites = "==1.4.0" # Eli (3/1/21): this must be explicitly specified when using a Linux dev environment so that it will be included in a Windows build environment

[packages]
flask = "==1.1.2"
flask-cors = "==3.0.10"
flatten-dict = "==0.3.0"
h5py = "==3.2.1"
immutabledict = "==1.2.0"
immutable-data-validation = "==0.2.1"
labware-domain-models = "==0.3.1"
nptyping = "==1.4.0"
numpy = "==1.20.1"
mantarray-file-manager = "==0.4.5"
mantarray-waveform-analysis = "==0.7.0"
scipy = "==1.6.1"
secrets-manager = "==0.4"
semver = "==2.13.0"
pyserial = "==3.5"
stdlib-utils = "==0.4.3"
xem-wrapper = "==0.2.5"

[requires]
python_version = "3.8"
