# sudo apt-get install python3-venv
# python3.7 -m venv venv

# pip install pip --upgrade
# pip install -r requirements-dev.txt

# install the current package in editable mode
# pip install -e .

# to store git credentials:
# git config credential.helper store
#  then do a git command, enter credentials, and they should be saved after that

pre-commit==2.7.1 # run 'pre-commit install' initially to install the git hooks
pytest==6.0.1
pytest-cov==2.10.1
pytest-randomly==3.4.1
sphinx==3.2.1
pylint==2.6.0
pytest-pylint==0.17.0
boto3==1.14.54
docutils==0.15 # Tanner (6/10/20) boto3 requires docutils<0.16

pytest-mock==3.3.1
pytest-timeout==1.4.2
pytest-profiling==1.7.0
freezegun==0.3.15
Cython==0.29.21